{{ define "main" }}
    <p>Oggi è: {{ index $.Site.Data.giorni (printf "%d" now.Weekday) }}</p> 
    
    <h3>Differenziata da fare</h3>
    {{ $day := now.Format "Mon" }}  
    <br>

    <!-- calcolo int del giorno della settimana e mese
        {{ index $.Site.Data.giorni (printf "%d" now.Weekday) }}    
        {{ index $.Site.Data.mesi (printf "%d" now.Month) }}  
    -->
      
    <!-- faccio iterazione di tutti gli elementi del json -->
    {{ range .Site.Data.rumenta.raccoltaDomestica }} 
        <!-- essendo una map[] cerco key and value -->
        {{ range $elem_key, $elem_val := . }}
            <!-- se il giorno odierno è uguale a quello della lista  -->
            {{ if eq $day $elem_key}}
                <!-- stampo cosa differenziare // poi dovrò aggiungere il controllo per sapere se estate -->
                <!-- {{ .estate }} -->
                <img class="img-fluid" src="images/_{{ .estate }}.png">
            {{ end }}
        {{ end }}
    {{ end }}

    <div>
        <ul>
        {{ range .Site.Data.rumenta.messaggi }}
            <li>{{ .orario }}</li>
            <li>{{ .info }}</li>
            <li><i>{{ .nonritiro }}</i></li>
        {{ end }}
        </ul>  
    </div>

<!-- fine del main principale -->
{{ end }} 
