<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
            {{- partial "header.html" . -}}
            <div id="container">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
